body{
    box-sizing: border-box;
}
header::before{
    background: url('https://images.unsplash.com/photo-1586816001966-79b736744398?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80')no-repeat center center/cover;
    content: "";
    position: absolute;
    width: 100%;
    left: 0px;
    height: 500px;
    z-index: -1;
    opacity: 0.6;

}
.navbar{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}
img{
    width: 55px;
    height: 55px;
    margin: 0px 8px;
    margin-top: 20px;
}
#navFoodiz{
    margin-top: 10px;
}
@media (max-width: 332px){
    .navbar{

        font-size: 1.2rem;
    }
    #navFoodiz{
        margin-top: 15px;
    }
}
#intro{
    display: flex;
    /* justify-content: center; */
    
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.basic-intro{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
#basic-intro{
    color: black;
    font-size: 1.3rem;
}
.about{
    position: absolute;
    top: 600px;
    color:  #d70f64;
}
.about>p{
    color: black;
    text-shadow: 2px 3px 15px #d70f64;
}
.introcard{
    width: 100%;
    position: absolute;
    top: 800px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(230 230 230);
    border-radius: 30px;
    transition-property: all;
    transition-duration: 4s;
    transition-delay: 0.1s;
}
.introcard:hover{
      background-color: #1a1717;
      color: white;
}
.icard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    margin: 0px 4px;
    /* border: 2px solid red; */
    width: 300px;
    height: 300px;
    text-align: center;
}
.icard-img>img{
    width: 240px;
    height:250px;
    border-radius: 25px;
    max-width: 100%;
    max-height: 100%;
    /* aspect-ratio: auto 240/250; */
}
.icardtext{
    font-size: 1.4rem;
    font-weight: bold;
}
@media (max-width:296px){
    .icardtext{
        font-size: 0.8rem;
    }
}